<template id="agitadmin-settings">
    <div class="settings-header">
        <h1></h1>
    </div>

    <form class="settings-form edit-form" method="post" action="">
        <table>
            <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <button class="btn btn-default" type="reset">{{ t("reset") }}</button>
                        <button class="btn btn-primary" type="submit">{{ t("submit") }}</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>


    <table class="dummy">
        <tbody class="setting-field">
            <tr>
                <th scope="row"><label></label></th>
                <td>
                    <div class="field"></div>
                    <div class="description"></div>
                </td>
            </tr>
        </tbody>
    </table>
</template>
