<template id="agitadmin-autocomplete">
    <div class="autocomplete">
        <div>
            <p>
                <input type="text" class="form-control">
                <span class="ind"></span>
            </p>
        </div>
        <ul tabindex="-1">
            <li class="empty">{{ t("Sorry, no results have been found.") }}</li>
        </ul>
    </div>
</template>
