/* HEADER */

.editview-header                                        { margin-bottom: 20px; }
.editview-header p                                      { margin: 10px 0 0; }



/* FORM */

.editview-form                                          {}

.editview-form > table                                  { width: 100%; border-collapse: separate }
.editview-form > table > tbody > tr > th,
.editview-form > table > tbody > tr > td                { border-bottom: 1px solid #ddd; padding: 20px 0 }
.editview-form > table > tbody > tr > th                { vertical-align: top; padding: 30px 40px 30px 0; font-weight: normal; width: 1%; }
.editview-form > table > tfoot tr > td                  { padding-top: 40px; vertical-align: middle; white-space: nowrap; }
.editview-form tfoot button                             { margin-right: 15px; }

.editview-form th label                                 { display: block; margin: 0; font-weight: bold; white-space: nowrap; }
.editview-form th .optional                             { font-size: .93em; }

.editview-form textarea                                 { min-height: 80px; }
.editview-form input[type=number]                       { text-align: right; }

.editview-form input[readonly]                          { border: 1px solid #f9f9f9; padding-left: 0; background: #f9f9f9; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
.editview-form input[readonly].unset                    { color: #999; }

.editview-form .explain                                 { font-size: .9em; color: #555; }
.editview-form p.explain                                { margin: 10px 0 0; }
