/* READONLY */

.readonly                                                   { }
.readonly .empty                                            { color: #aaa; font-style: italic }


/* SUBLIST */

.sublist-table                                              { width: 100%; }
table.sublist-table th,
table.sublist-table td                                      { min-width: 0; padding: 3px 10px; background: #e9eef1; border: 0; vertical-align: middle; }
table.sublist-table th[scope=col]                           { padding: 10px; background: #222; color: #fff; font-weight: bold; white-space: nowrap }
table.sublist-table th.main, table.sublist-table td.main    { width: 99%; }
table.sublist-table input[type=text], table.sublist-table input[type=number] { min-width: 6em; }
.sublist p.add                                              { margin-top: 2em; }
.sublist p.empty                                            { display: none; color: #777; font-style: italic; margin: 10px }
.sublist.empty p.empty                                      { display: block; }
