/* READONLY */

.readonly                                                   { }
.readonly .empty                                            { color: #aaa; font-style: italic }


/* SUBLIST */

table.sublist-table                                         { width: auto; margin-top: 3px; }
table.sublist-table th,
table.sublist-table td                                      { min-width: 0; padding: 10px 15px; background: #f2f2f2; vertical-align: middle; }
table.sublist-table th[scope=col]                           { background: #e1e1e1; padding: 7px 15px; font-weight: bold; white-space: nowrap; border-bottom: 1px solid #fcfcfc; }
table.sublist-table tr:first-child td                       { padding-top: 4px; }
table.sublist-table tr:last-child td                        { padding-bottom: 4px; }


table.sublist-table input[type=text],
table.sublist-table input[type=number]                      { width: 6em; }
.sublist p.add                                              { margin-top: 2em; }
.sublist p.empty                                            { display: none; color: #777; font-style: italic; margin: 10px }
.sublist.empty p.empty                                      { display: block; }


/* FormModal */

.form-modal                                                 {}

.form-modal table                                           { width: 100%; }
.form-modal th                                              { vertical-align: top; padding: 15px 10px 10px 10px; font-weight: bold; width: 1%; }
.form-modal td                                              { padding: 10px; }

.clone-modal-info                                           { margin: 10px 10px 20px; color: #888; font-size: .9em; text-align: center }
