<template>
    <span class="multilang">
        <input type="text" class="form-control" value="">
        <textarea class="form-control"></textarea>

        <span class="langs">
            <a class="lang" tabindex="1" data-locale="de_DE"><i class="fa fa-caret-down"></i><span></span></a>
            <a class="lang" tabindex="2" data-locale="en_GB"><i class="fa fa-caret-down"></i><span></span></a>
            <a class="lang" tabindex="3" data-locale="fr_FR"><i class="fa fa-caret-down"></i><span></span></a>
        </span>
    </span>

    <div class="readonly">
        <span class="empty">{{ t("This value will be set on the server after saving the object.") }}</span>
    </div>

    <div class="sublist">
        <p class="empty">{{ t("Please add one or more entries to this list.") }}</p>

        <p class="add input-group">
            <select class="form-control"></select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">{{ t("add") }}</button>
            </span>
        </p>
    </div>
</template>
