<template>
    <div class="location-field form-control" tabindex="">
        <p class="explain">{{ t("Please make sure to find the exact position: Zoom into the map as deep as possible. When you have found the location, click on it with the mouse to set a marker.") }}</p>
    </div>

    <i class="location-marker fa fa-map-marker"></i>
</template>
